.mmxcal__clockPm {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	background: rgb(159, 235, 218);
	z-index: 1;
}

.mmxcal__clockPmItem {
	width: 30px;
	height: 100px;
	left: 50%;
	margin-left: -15px;
	display: flex;
	justify-content: center;
	transform-origin: bottom center;
	transform: rotate(0deg);
	position: absolute;
}

.mmxcal__clockPmItem span {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: rgb(238, 178, 178);
}

.mmxcal__clockPmItem:nth-child(1) {
	transform: rotate(calc(360deg / 12 * 0));
}
.mmxcal__clockPmItem:nth-child(1) span {
	transform: rotate(calc(-360deg / 12 * 0));
}

.mmxcal__clockPmItem:nth-child(2) {
	transform: rotate(calc(360deg / 12 * 1));
}
.mmxcal__clockPmItem:nth-child(2) span {
	transform: rotate(calc(-360deg / 12 * 1));
}

.mmxcal__clockPmItem:nth-child(3) {
	transform: rotate(calc(360deg / 12 * 2));
}
.mmxcal__clockPmItem:nth-child(3) span {
	transform: rotate(calc(-360deg / 12 * 2));
}

.mmxcal__clockPmItem:nth-child(4) {
	transform: rotate(calc(360deg / 12 * 3));
}
.mmxcal__clockPmItem:nth-child(4) span {
	transform: rotate(calc(-360deg / 12 * 3));
}

.mmxcal__clockPmItem:nth-child(5) {
	transform: rotate(calc(360deg / 12 * 4));
}
.mmxcal__clockPmItem:nth-child(5) span {
	transform: rotate(calc(-360deg / 12 * 4));
}

.mmxcal__clockPmItem:nth-child(6) {
	transform: rotate(calc(360deg / 12 * 5));
}
.mmxcal__clockPmItem:nth-child(6) span {
	transform: rotate(calc(-360deg / 12 * 5));
}

.mmxcal__clockPmItem:nth-child(7) {
	transform: rotate(calc(360deg / 12 * 6));
}
.mmxcal__clockPmItem:nth-child(7) span {
	transform: rotate(calc(-360deg / 12 * 6));
}

.mmxcal__clockPmItem:nth-child(8) {
	transform: rotate(calc(360deg / 12 * 7));
}
.mmxcal__clockPmItem:nth-child(8) span {
	transform: rotate(calc(-360deg / 12 * 7));
}

.mmxcal__clockPmItem:nth-child(9) {
	transform: rotate(calc(360deg / 12 * 8));
}
.mmxcal__clockPmItem:nth-child(9) span {
	transform: rotate(calc(-360deg / 12 * 8));
}

.mmxcal__clockPmItem:nth-child(10) {
	transform: rotate(calc(360deg / 12 * 9));
}
.mmxcal__clockPmItem:nth-child(10) span {
	transform: rotate(calc(-360deg / 12 * 9));
}

.mmxcal__clockPmItem:nth-child(11) {
	transform: rotate(calc(360deg / 12 * 10));
}
.mmxcal__clockPmItem:nth-child(11) span {
	transform: rotate(calc(-360deg / 12 * 10));
}

.mmxcal__clockPmItem:nth-child(12) {
	transform: rotate(calc(360deg / 12 * 11));
}
.mmxcal__clockPmItem:nth-child(12) span {
	transform: rotate(calc(-360deg / 12 * 11));
}
